<!DOCTYPE html>
<div data-ng-init="vm.init()" xmlns="http://www.w3.org/1999/xhtml">

    <!--


    WELCOME TO HOME!

    <button class="col-md-3 btn btn-lg btn-primary" type="submit" ng-click="vm.logout()">Log Out</button>

    <button class="col-md-3 btn btn-lg btn-primary" type="submit" ng-click="vm.requestTest()">request Test</button>

    <button class="col-md-3 btn btn-lg btn-primary" type="submit" ng-click="vm.requestTest2()" permission="['deGustavpo']">Botón con permisos</button>

    -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="home-icon"></a>
                <a class="navbar-brand">Académico</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a>Home</a></li>

                    <li ng-repeat="menuGroup in vm.menuGroupList track by menuGroup.Id" class="dropdown">
                        <a class="dropdown-toggle cursor-pointer" data-toggle="dropdown">{{menuGroup.Name}}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="menu in menuGroup.MenuList track by menu.Id"><a>{{menu.Detail}}</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>Bienvenido, {{vm.userFullName}}</a></li>
                    <li ng-click="vm.logout()"><a><span class="glyphicon glyphicon-log-in"></span> Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
  
    </div>
</div>
